body {
    background-color: #000000;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

#intro-song {
    position: absolute;
    visibility: hidden;
}

.container {
    width: 980px;
    margin: 0 auto 0 auto;
    border: 1px solid #cccccc;
}

h1 {
    font-size: 44px;
    font-weight: bold;
    padding: 25px;
    text-align: center;
    border-bottom: 1px dashed;
    margin: 0 25px;
}

h2 {
    padding: 25px;
    font-size: 33px;
    font-weight: bold;
}

h3 {
    padding: 25px;
    font-size: 22px;
    font-weight: bold;
}

#the-array {
    letter-spacing: .3rem;
}

.hangman {
    padding: 25px;
    margin: 0 auto;
    width: 200px;
    position: relative;
}

.hangman img {
    position: absolute;
}

#head {
    display: none;
    top: 0;
    left: 25px;
}

#body {
    display: none;
    top: 230px;
    left: 140px;
}

#right_arm {
    display: none;
    top: 270px;
    left: 140px;
}

#left_arm {
    display: none;
    top: 270px;
    left: -25px;
}

#right_leg {
    display: none;
    top: 470px;
    left: 31px;
}

#left_leg {
    display: none;
    top: 470px;
    left: 140px;
}

#right_eye {
    display: none;
    top: 100px;
    left: 90px;
}

#left_eye {
    display: none;
    top: 100px;
    left: 170px;
}

#nose {
    display: none;
    top: 140px;
    left: 130px;
}

#mouth {
    display: none;
    top: 180px;
    left: 110px;
}




/* .circle {
  position: relative;
  overflow: hidden;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #E94E3D;
  box-shadow: 60px -60px 0 2px #E94E3D, -60px -60px 0 2px #E94E3D, -60px 60px 0 2px #E94E3D, 60px 60px 0 2px #E94E3D, 0 0 0 2px #E94E3D;
  animation: border .4s ease 1 forwards;
}


@keyframes border {
  0% {
    box-shadow: 60px -60px 0 2px #E94E3D, -60px -60px 0 2px #E94E3D, -60px 60px 0 2px #E94E3D, 60px 60px 0 2px #E94E3D, 0 0 0 2px #E94E3D;
  }
  25% {
    box-shadow: 0 -125px 0 2px #E94E3D, -60px -60px 0 2px #E94E3D, -60px 60px 0 2px #E94E3D, 60px 60px 0 2px #E94E3D, 0 0 0 2px #fff;
  }
  50% {
    box-shadow: 0 -125px 0 2px #E94E3D, -125px 0px 0 2px #E94E3D, -60px 60px 0 2px #E94E3D, 60px 60px 0 2px #E94E3D, 0 0 0 2px #fff;
  }
  75% {
    box-shadow: 0 -125px 0 2px #E94E3D, -125px 0px 0 2px #E94E3D, 0px 125px 0 2px #E94E3D, 60px 60px 0 2px #E94E3D, 0 0 0 2px #fff;
  }
  100% {
    box-shadow: 0 -125px 0 2px #E94E3D, -125px 0px 0 2px #E94E3D, 0px 125px 0 2px #E94E3D, 120px 40px 0 2px #E94E3D, 0 0 0 2px #fff;
  }
} */

/* #game {
    display: none;
} */